#dummy_download{
  visibility:hidden;
}
@media print
{   .no-print{display:none;}
    /* .no-print { page-break-after: always; display:block;} */
    .printable { display: block;}
    body {transform: scale(.7); zoom:60%;} 
    /* html {page-break-inside: avoid;} */
}

@page { size: auto;  margin: 0mm; }

.flex-container-graphs{
  /* display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap; */
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:center;
  background-color:rgba(147, 31, 33, 0.5);
}

/* .flex-container-donut-race, .flex-container-donut-program, .flex-container-donut-tuition{
  display: flex;
  flex-wrap:wrap;
} */

.pie {
  margin: 20px; 
}

.pie text {
  font-family: "Verdana";
  fill: white
}

.pie .name-text{
  font-size: 1em;
}

.pie .value-text{
  font-size: 3em;
}

@import 'https://fonts.googleapis.com/css?family=Paytone+One';

*{
  font-family: "Paytone One";
}
html{
  /* background-image: url("./components/aerial-image.jpeg");
  background-size: stretch;
  background-repeat: no-repeat;  */

  background: url("./components/aerial-image.jpeg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
  /* width: 100%;
  height: 85vh; */
}

.chart-container{
  /* position: relative; */
}

.flex-container-donut-tuition, .flex-container-donut-race, .flex-container-donut-tuition, .flex-container-donut-program{
  /* background-color: rgba(240,255,240,0.5) */
  /* background-color:   rgba(147, 31, 33, 0.5); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.flex-information-container{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap:wrap;
  background-color: darkred;
  color:white;
  text-align:center;

}

.flex-vertical a{
  color:white;
}

/* .flex-information-container > div > p{
  height: 100px;
  width: 200px;
  background-color: rgba(147, 31, 33, 0.5);
  margin-right: 15px;
  text-align:center;
  font-size: 25px;
  color: white;
} */

#legend-tuition, #legend-program, #legend-race{
  height:1100px;
  background-color:white;
}

.school-name{
  border-bottom: 10px darkred solid;
  color: darkred;
}

.graph-header{
  color:white;
  border-bottom:5px white solid;
}

@media only screen and (max-width: 600px) {
  #legend-tuition, #legend-race{
    height:300px;
    background-color:white;
  }
}