#dummy_download{
  visibility:hidden;
}
@media print
{
    .no-print { page-break-after: always; display:block;}
    .printable { display: block; }
}

@page { size: auto;  margin: 0mm; }

.flex-container-graphs{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
}

/* .flex-container-donut-race, .flex-container-donut-program, .flex-container-donut-tuition{
  display: flex;
  flex-wrap:wrap;
} */

.pie {
  margin: 20px; 
}

.pie text {
  font-family: "Verdana";
  fill: #888;
}

.pie .name-text{
  font-size: 1em;
}

.pie .value-text{
  font-size: 3em;
}

@import 'https://fonts.googleapis.com/css?family=Paytone+One';

*{
  font-family: "Paytone One";
}
html{
  background-image: url("./components/aerial-image.jpeg");
}

body{
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container{
  position: relative;
}

.flex-container-donut-tuition, .flex-container-donut-race, .flex-container-donut-tuition, .flex-container-donut-program{
  background-color: rgba(240,255,240,0.5)
}

.flex-information-container{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;

}

.flex-information-container > div,p{
  height: 300px;
  width: 300px;
  background-color: red;
  margin-right: 15px;
}